@{
    ViewData["Title"] = "Política de Privacidade";
}
<h1>@ViewData["Title"]</h1>

<p>Nossa política de privacidade é assim, assim e assado.</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
Cum ratione, ea autem quod consectetur consequuntur nostrum voluptatum temporibus 
alias tenetur qui quasi odit vero facere reiciendis illum nulla inventore ducimus?.</p>
