<h1>Página quem somos</h1>

<p>Somos uma empresa dedicada a fornecer os melhores serviços aos nossos clientes. 
Nossa missão é garantir a satisfação e o sucesso de todos que confiam em nós.</p>

<a asp-controller="Home" asp-action="Index">Voltar pra Home</a>