@model List<CadAlunoTorloni.Models.Fruta>

<h1>Página de Frutas</h1>
<h2>Lista de Frutas</h2>

@foreach (var fruta in Model){
   <p>
        Id: @fruta.Id ,
        Nome: @fruta.Nome ,
        Cor: @fruta.Cor ,
        Categoria: @fruta.Categoria
   </p>
}
