@{
    ViewData["Title"] = "DevConnect - login";
}
    <link rel="stylesheet" href="~/css/feed.css">

 <header id="cabeçalho">
        <nav>
            <a id="logo-desktop" href="./feed.html">
                <img src="../images/devconnect 2.svg" alt="Logo da empresa DevConnect">
            </a>
            <a id="logo-mobile" href="./feed.html">
                <img src="../images/devconnect 3.svg" alt="Logo da empresa DevConnect">
            </a>

            <!-- icones -->
            <div class="cabeçalho-acoes">
                <a href="./feed.html">
                    <img src="../images/casa-azul.svg" alt="icone casa azul">
                </a>
                <a href="#">
                    <img src="../images//coracao-azul.svg" alt="icone coracao azul">
                </a>

                <a href="#">
                    <img class="foto-perfil" src="../images/11e3c635-bece-4377-b4bc-f9a5a5dc3807.jpg" alt="foto de perfil">
                </a>
            </div>

        </nav>
    </header>
    <!-- Fim header -->

    <!-- Inicio main -->
    <main>
        <div class="container-flex-publi">
            <!-- Inicio Storys -->
             <section id="storys" class="estilo-formulario">

                <article class="card-story">
                    <a href="#">
                        <img src="../images/11e3c635-bece-4377-b4bc-f9a5a5dc3807.jpg" alt="">
                        <span>goido_joseh</span>
                    </a>
               </article>
                <article class="card-story">
                    <a href="#">
                        <img src="../images/11e3c635-bece-4377-b4bc-f9a5a5dc3807.jpg" alt="">
                        <span>goido_joseh</span>
                    </a>
               </article>
                <article class="card-story">
                    <a href="#">
                        <img src="../images/11e3c635-bece-4377-b4bc-f9a5a5dc3807.jpg" alt="">
                        <span>goido_joseh</span>
                    </a>
               </article>
                <article class="card-story">
                    <a href="#">
                        <img src="../images/11e3c635-bece-4377-b4bc-f9a5a5dc3807.jpg" alt="">
                        <span>goido_joseh</span>
                    </a>
               </article>
                <article class="card-story">
                    <a href="#">
                        <img src="../images/11e3c635-bece-4377-b4bc-f9a5a5dc3807.jpg" alt="">
                        <span>goido_joseh</span>
                    </a>
               </article>
                <article class="card-story">
                    <a href="#">
                        <img src="../images/11e3c635-bece-4377-b4bc-f9a5a5dc3807.jpg" alt="">
                        <span>goido_joseh</span>
                    </a>
               </article>
                <article class="card-story">
                    <a href="#">
                        <img src="../images/11e3c635-bece-4377-b4bc-f9a5a5dc3807.jpg" alt="">
                        <span>goido_joseh</span>
                    </a>
               </article>
                <article class="card-story">
                    <a href="#">
                        <img src="../images/11e3c635-bece-4377-b4bc-f9a5a5dc3807.jpg" alt="">
                        <span>goido_joseh</span>
                    </a>
               </article>
                <article class="card-story">
                    <a href="#">
                        <img src="../images/11e3c635-bece-4377-b4bc-f9a5a5dc3807.jpg" alt="">
                        <span>goido_joseh</span>
                    </a>
               </article>
               
             </section>
             <!-- Fim Storys -->

             <!--Inicio cadastro publi-->
             <section id="cadastro-publi" class="">
                <h2>Publicação</h2>

                <form action="">
                <textarea name="" id="" placeholder="Digite a descrição do post..."></textarea>

                <footer >
                    <div>
                        <label for="arquivo" class="botao-upload">Faça upload da sua imagem aqui...</label>
                        <input type="file" id="arquivo">
                        
                    </div>

                    <button type="submit" class="formulario-botao-azul">Postar</button>

                </footer>
                </form>

             </section>
             <!--Inicio cadastro publi-->

             <section id="publicacoes">
                <!--inicio card publicacao-->
                <article class="card-publi">
                    <header>
                        <a href="#">
                            <img class="foto-perfil" src="../images/11e3c635-bece-4377-b4bc-f9a5a5dc3807.jpg" alt="">
                            goido_joseh
                        </a>
                    </header>

                    <figure>
                        <img  class="imagem-publi" src="../images/baixados (1).jpg" alt="">

                        <figcaption class="descricao-publicacao">
                            goido_joseh
                            <p>Boa tarde pexuaaaaal</p>
                        </figcaption>

                        <div class="interacoes-publicacao">
                            <button>
                                <img src="../images/Corcao preto 1.svg" alt="">
                            </button>
                            <button>
                                <img src="../images/comentario.svg" alt="">
                            </button>

                            <span>678 mil curtidas</span>

                        </div>

                    </figure>

                    <button type="button">Ver mais comentários..</button>
                </article>
                <!--fim card publicacao-->
             </section>
        </div> 
    </main>