@{
    ViewData["Title"] = "DevConnect - login";
}
    <link rel="stylesheet" href="~/css/login.css">
 <h1>Tela principal login - DevConnect</h1>
    <main>
        <div>
            <!--formulario-->
            <form id="formulario" class="estilo-formulario">
                <img src="/images/DevConnect -  certo.svg" class="logo-login" alt="">

                <div>
                    <label for="">Nome de usuário:</label>
                    <input type="text" name="" id="">
                </div>
                <div>
                    <label for="">Senha:</label>
                    <input type="password" name="" id="">
                </div>

                <button type="submit" class="formulario-botao-azul">Entrar</button>

                <p>ou</p>

                <a href="#">Esqueceu a senha?</a>

            </form>

            <!--seção cadastro-->
            <section id="secao-cadastro" class="estilo-formulario">
                <p>Não tem conta? <a href="../pages/cadastro.html">Cadastre-se</a></p>
            </section>

            <p class="informacao-aplicativo">Obtenha o aplicativo</p>

            <!--seção intalacao-->
            <section id="secao-instalacao">
                <img src="/images/app-store.svg" alt="Imagem informando para baixar app-store">

                <img src="/images/google-play.svg" alt="Imagem informando para baixar no play store">
            </section>

        </div>
    </main>