@model CadAlunoTorloni.Models.Aluno

<h1>Cadastro do Aluno</h1>

@* Criar o formulário de cadastro de fruta *@
<form asp-action="Create" method="post">
  
        <label>Nome:</label>
        <input asp-for="Nome" class="form-control" />

        <br>
        <label>Idade:</label>
        <input asp-for="Idade" class="form-control" />

        <br>
        <label>Cpf:</label>
        <input asp-for="Cpf" class="form-control" />

        <br>
        <br>
        <button class="btn-btn-sucess">Salvar</button>
    <
    </form>

