@using CadAlunoTorloni.Controllers
@model List<CadAlunoTorloni.Models.Aluno>

<h1>Página de Alunos</h1>
<h2>Lista de Alunos</h2>
@foreach(var Aluno in Model)
{
    <div>
        <p> Id: @Aluno.Id, 
        Nome: @Aluno.Nome,
        Idade: @Aluno.Idade,
        Cpf: @Aluno.Cpf
        </p>
    </div>
}