@using Microsoft.EntityFrameworkCore.Metadata.Internal
@model DevConnect.Models.TbUsuario

    <link rel="stylesheet" href="~/css/usuario.css">

    <script defer>
        const usuarioNovoCadastrado = "@ViewBag.UsuarioCadastrado";

        if(usuarioNovoCadastrado == "Não cadastrado"){
            alert("Usuário não cadastrado! Tente novamente.");
        }
    </script>


    <main>
        <div>
            <!-- aqui o id foi ajustado para bater com o CSS -->
            <form id="formulario" class="estilo-formulario" enctype="multipart/form-data"
            asp-action="Index" asp-controller="Usuario">
                
                <img src="../images/DevConnect -  certo.svg" alt="Logo DevConnect">
                <p>Cadastre-se para comunidade exclusiva 
                de desenvolvedores(as)</p>

                <div>
                <label for="">Nome e sobreome</label>
                <input type="text" asp-for="NomeCompleto">
                </div>
                
                <div>
                <label for="">Nome de usuario</label>
                <input type="text" asp-for="NomeUsuario">
                </div>
                
                <div>
                <label for="">Email</label>
                <input type="text" asp-for="Email">
                </div>
                
                <div>
                    <label for="">Senha:</label>
                    <input type="password" asp-for="Senha">
                </div>
                
                <div>
                    <label for="arquivo" class="botao-upload">Faça upload da sua imagem aqui...</label>
                    <input type="file" id="arquivo" name="imagem">
                </div>
                

                <button type="submit" class="formulario-botao-azul">Cadastrar-se</button>

                <p>Ao se cadastrar, você concorda com nossos Termos, Política de Dados e Política de Cookies.</p>
            </form>

            <!-- seção cadastro -->
            <section id="secao-cadastro" class="estilo-formulario">
                <p>Tem uma conta? <a href="../pages/index.html">Conecte-se</a></p>
            </section>

        </div>
    </main>