@{
    ViewData["Title"] = "DevConnect - Perfil";
}
    <link rel="stylesheet" href="~/css/perfil.css">

<h1>Tela Peril - DevConnect</h1>

    <header id="cabeçalho">
        <nav>
            <a id="logo-desktop" href="./perfil.html">
                <img src="../images/devconnect 2.svg" alt="Logo da empresa DevConnect">
            </a>
            <a id="logo-mobile" href="./perfil.html">
                <img src="../images/devconnect 3.svg" alt="Logo da empresa DevConnect">
            </a>

            <!-- icones -->
            <div class="cabeçalho-acoes">

                <a href="./perfil.html">
                    <img src="../images/casa-azul.svg" alt="icone casa azul">
                </a>
                <a href="#">
                    <img src="../images//coracao-azul.svg" alt="icone coracao azul">
                </a>

                <a href="#">
                    <img class="foto-perfil" src="../images/baixados (1).jpg" alt="foto de perfil">
                </a>

        </nav>
    </header>

    <main>
        <div class="perfil-container">

            <section id="dados-perfil"> 
                <img class="perfil-foto-principal" src="../images/baixados (1).jpg" alt="">

                <div>

                    <span class="nome-perfil">goido_joseh</span>
                    <p><strong>378</strong> publicações</p>
                    <p><strong>4</strong> seguindo</p>
                    <p><strong>2,3M</strong> seguidores</p>
                    
                    <b>José Leonardo</b>
                    <a class="botao" href="">Editar perfil</a>
                    <a class="botao" asp-controller="Home" asp-action="Index">Sair</a>


                </div>
            </section>

            <hr class="divisao">

            <!-- Publicacoes -->
            <section class="publicacoes">
                <h2><img src="../images/icone-galeria-preto.svg" alt="Publicações"> Publicações</h2>

            <!-- Post -->
            
            <article class="post">
                <div class="post-topo">
                  <img src="../images/baixados (1).jpg" alt="Perfil">
                  <p>goido_joseh</p>
    
                </div>
                <p class="post-texto">Hoje vamos passear em Dubai, toda a família e estou feliz. Assistam os stories da mamãe para não perderem nada fiquem ligados!!!</p>
    
                <div class="post-acoes">
                  <img src="../images/Corcao preto 1.svg" alt="Curtir">
                  <img src="../images/comentario.svg" alt="Comentar">
                </div>
                <p class="post-curtidas">230 mil curtidas</p>
                <a href="#" class="ver-comentarios">Ver todos os comentários...</a>
              </article>

            <article class="post">
                <div class="post-topo">
                  <img src="../images/baixados (1).jpg" alt="Perfil">
                  <p>goido_joseh</p>
    
                </div>
                <p class="post-texto">Hoje vamos passear em Dubai, toda a família e estou feliz. Assistam os stories da mamãe para não perderem nada fiquem ligados!!!</p>
    
                <div class="post-acoes">
                  <img src="../images/Corcao preto 1.svg" alt="Curtir">
                  <img src="../images/comentario.svg" alt="Comentar">
                </div>
                <p class="post-curtidas">230 mil curtidas</p>
                <a href="#" class="ver-comentarios">Ver todos os comentários...</a>
              </article>

            <article class="post">
                <div class="post-topo">
                  <img src="../images/baixados (1).jpg" alt="Perfil">
                  <p>goido_joseh</p>
    
                </div>
                <p class="post-texto">Hoje vamos passear em Dubai, toda a família e estou feliz. Assistam os stories da mamãe para não perderem nada fiquem ligados!!!</p>
    
                <div class="post-acoes">
                  <img src="../images/Corcao preto 1.svg" alt="Curtir">
                  <img src="../images/comentario.svg" alt="Comentar">
                </div>
                <p class="post-curtidas">230 mil curtidas</p>
                <a href="#" class="ver-comentarios">Ver todos os comentários...</a>
              </article>
              
            </section>
          </main>