main {
    min-height: 100vh;
    width: 100%;

    display: flex;
    justify-content: center; 
    margin-top: 20px;           
  }
  

  .container-flex-publi {
    width: 90%;
    max-width: 900px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  #storys{
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    gap: 30px;
    overflow-x: scroll; /*poe scroll no*/
  }

  #storys::-webkit-scrollbar{
    width: 0;
  }

  .card-story{
    /* width: 100%; 
    max-width: 100px;  */
    /* background-color: aquamarine; */
  }

  .card-story > a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    text-decoration: none;
  }

  .card-story > a > img { 
    border-radius: 50%;
    width: 80px;                    
    height: 80px;
    object-fit: cover;
    object-position: center;
  }

  .card-story > a > span {
    color: var(--cor-preto);
    font-size: var(--tamanho-fonte-sm);
    text-transform: lowercase;
  }

  /* secao criar publi */
  #cadastro-publi{
    background-color: var(--cor-branco);
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 3%;
    border: 1px solid var(--cor-azul-escuro);
  }

  #cadastro-publi > h2 {
    font-size: var(--tamanho-fonte-lg);
    color: var(--cor-azul-escuro);
    font-weight: 800;
  }

  #cadastro-publi > form > textarea{
    width: 100%;
    height: 80px;
    background-color: var(--cor-lilas);
    resize: none;
    padding: 10px;
    color: var(--cor-preto);
    font-size: var(--tamanho-fonte-sm);
    border: var(--borda);

  }

  #cadastro-publi > form > textarea::placeholder {
    color: var(--cor-azul-escuro);
  }

  #cadastro-publi > form > footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 15px;
    flex-wrap: wrap;
    margin-top: 30px;
  }

  .formulario-botao-azul {
    width: 100%;
    max-width: 135px;
  }

  .formulario-botao-azul {
    background-color: var(--cor-roxo-escuro);
    border-radius: var(--borda-aredondada);
    border: none;
    height: 35px;

    color: var(--cor-branco);
    font-size: var(--tamanho-fonte-sm);
    font-weight: 500;
}

/* secao publicacoes */
#publicacoes{
  width: 100%;
  height: 700px;
}

.card-publi {
  width: 100%;
  background-color: var(--cor-branco);
}

.card-publi > header{
  background-color: var(--cor-branco);
  display: flex;
  align-items: center;
  padding: 3%;
  border: 1px solid var(--cor-azul-escuro);
}

.card-publi > header > a {
  display: flex;
  align-items: center;
  gap: 13px;
  text-decoration:none ;
  color: var(--cor-preto);
  font-weight: 500;
}

.card-publi > figure { 
  width: 100%;
  display: flex;
  flex-direction: column;
}

.imagem-publi {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 400px;
}

.descricao-publicacao{
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: var(--tamanho-fonte-md);
  font-weight: 700;
  padding: 0 3%;
  order: 2;
  flex-wrap: wrap;
}

.descricao-publicacao > p {
  font-size: var(--tamanho-fonte-sm);
  font-weight: 400;
}

.interacoes-publicacao {
  width: 110px;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  order: 1;
  margin: 15px 3%;
}

.interacoes-publicacao > button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.interacoes-publicacao > button > img {

}

.interacoes-publicacao > span {
  font-size: var(--tamanho-fonte-sm);
  font-weight: 500;
  color: var(--cor-preto);
}

  .card-publi > button {
    margin: 15px 3%;
    background-color: transparent;
    border: none;

    font-size: var(--tamanho-fonte-sm);
    font-weight: 400;
    color: var(--cor-cinza);

    cursor: pointer;
  }



















  input[type="file"] {
    display: none;
  }
  
  .botao-upload {
    display: inline-block;
    width: 100%;
    max-width: 300px;
    padding: 10px;
    background: var(--cor-lilas);
    color: var(--cor-azul-escuro);
    text-align: center;
    font-weight: 600;
    border-radius: var(--borda-aredondada);
  }
  
  .botao-upload:hover {
    background: var(--cor-branco-gelo);
  }


